*.iml
.gradle
/build

local.properties
/local.properties
/config/config.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

*.jks
*.keystore

/captures
.externalNativeBuild
.cxx
*.apk
output.json

*.log